{% extends "layout.html" %}
{% block body %}

{% for team in all_teams %}
<h2>Football Club</h2>
        <p>
            Club Name: <b> {{ team["name"] }} </b> <br>
            League: {{ team["league"] }}<br>
            <a href="{{ url_for('update_team_name', id=team.id) }}">Edit name</a>
            <a href="{{ url_for('update_team_league', id=team.id) }}">Edit league</a>
            <a href="{{ url_for('delete_team', id=team.id) }}">Delete</a>
        </p>    
        
        <h2>Players in - {{ team["name"] }}</h2>
        <a href="{{ url_for('create_player', team_id=team.id) }}">Add Player</a>
    {% for player in team["players"] %}
        <p>
            <b> {{ player["name"] }} </b> <br>
            Position: {{ player["position"] }}<br>
            <a href="{{ url_for('update_player_name', id=player.id) }}">Edit</a>
            <a href="{{ url_for('delete_player', id=player.id) }}">Delete</a>
        </p>    
    {% endfor %}

    {% endfor %}
{% endblock body %}